:root {
    --gray: #616161;
}
/* GLOBAL */
body {
margin: 0;
font-family: 'Georama', sans-serif;
font-size: 1.5em;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 2.8em;
}
p {
    font-size: 1.2rem;
     color: var(--gray);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    display: flex;
    width: 75%;
    margin: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
}
.col_left {
    flex-basis: 50%;
}
.col_right {
    flex-basis: 50%;
}
.black {
    color: black;
    font-size: 1.4rem;
}
.blue {
    color: rgb(96, 96, 255);
    font-weight: bold;
}
.withArrow:hover {
    text-decoration: underline;
}
.menu-wrap {
    display: none;
}
/* HEADER */
header {
    background-image: radial-gradient(farthest-side at 0 10%, powderblue,rgb(249, 249, 255) ,  rgb(251, 251, 255));
    padding: 70px 0 50px 0;
    height: fit-content;
}
/* LOGO AND NAVBAR */
.brandlogo {
    flex-basis: 30%;
    align-self: center;
}
.links {
    flex-basis: 70%;
}
.links ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
.links ul li {
    display:inline-block;
    padding: 0 10px;
}
.getStarted {
    border: 1px transparent;
    border-radius: 7px;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    background: rgb(96, 96, 255);
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.getStarted a{
    font-size: 1em;
    display: block;
    color: #fff;
    padding: 25px 20px;
    margin: 5px 0 5px 0;
    font-weight: bold;
    text-align: center;
}
.getStarted a:hover {
    background-color: rgb(51, 51, 255);
    border-radius: 7px;
    transition: 150ms;
}
.getStarted .free {
    font-weight: lighter;
}
/* SHOWCASE */ 
.showcase {
    margin: 120px 0 120px 0;
}
.col_right img{
    width: 100%;
    height: auto;
}
.showcase .getStarted {
    margin: 20px 0;
}
/* MAIN SECTION */
/* First Container */
.row_1 {
    margin: 70px 0;
}
.row_1 .col_right {
    text-align: end;
    padding: 30px 0;
}
.row_1 .col_right img {
    width: 70%;
}
/* Second Container */
.row_2 {
    padding-bottom: 75px;
}
.row_2 .col_left {
    text-align: start;
}
.row_2 .col_left img {
    width: 90%;
}
.row_2 .col_right {
    align-self: center;
}
/* FOOTER */
footer {
    background-color:rgb(251, 251, 255) ;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.col_footer_left {
    flex-basis: 25%;
    
}
.col_footer_right {
    flex-basis: 60%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}
.col_footer_right a {
    color: var(--gray);
}
.col_footer_1, .col_footer_2, .col_footer_3, .col_footer_4 {
    flex-basis: 20%;
}

/* FOR SMAL SCREENS */

@media screen and (max-width: 1085px) {
    /* NAVBAR */
    .brandlogo {
        flex-basis: 20%;
    }
    .links {
        flex-basis: 80%;
    }
    .container {
        width: 90%;
    }
}

/* FOR TABLETS */

@media screen and (max-width: 792px) {
    /* NAVBAR */
    nav > .container {
        flex-wrap: nowrap;
    }
    .links ul li a{
        font-size: 0.8em;
    }
    .links ul {
        padding: 0;
    }
    .getStarted {
        width: 250px;
    }
    /* SHOWCASE */
    .showcase > .container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .showcase  .col_right  {
        width: 70%;
        margin: auto;
    }
    /* FOOTER */
    footer {
        box-sizing: border-box;
        font-size: 0.9em;
    }
    .col_footer_left {
        flex: 40%;
        justify-content: flex-start;
    }
    .col_footer_right {
        flex: 60%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col_footer_1, .col_footer_2, .col_footer_3, .col_footer_4 {
        flex-basis: 25%;
    }
}
/* FOR MOBILE PHONES */

@media screen and (max-width: 682px) {
    /* NAVBAR HAMBURGER MENU */
    .links > ul{
        display: none;
    }
    .showcase  .col_right  {
        width: 90%;
        margin: auto;
    }
    /* MAIN SECTION */
    .row_1 > .container {
        flex-direction: column-reverse;
    }
    .row_1 .col_right {
        text-align: center;
    }
    .row_2 .col_left {
        text-align: center;
    }
    .row_2 > .container {
        flex-direction: column;
    }
    /* FOOTER */
    .col_footer_left {
        flex: 100%;
    }
    .col_footer_right {
        flex: 100%;
        align-content: space-between;
    }
    .col_footer_1, .col_footer_2, .col_footer_3, .col_footer_4 {
        flex-basis: 50%;
    }
}
/* 150-430 PX */
@media screen and (max-width: 430px) {
    * {
    font-size: 0.85rem;
    }
    .showcase {
        margin: 30px 0;
    }
}